*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F1115;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    display: grid;
    grid-row-gap: 40px;
    justify-items: center;
    animation: fadeInUp 0.8s ease forwards; 
    opacity: 0; 
}

p{
    font-family: "Fraunces", serif;
    font-style: italic;
    color: white;
    max-width: 565px;
    font-size: 20px;
    line-height: 37px;
    line-break: 100px;
    letter-spacing: 0%;
    text-align: center;
    animation: fadeInUp 0.10s ease forwards; 
    font-weight: 300;
}

button {
    width: 180px;
    height: 51px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #0F1115;
    color: white;
    font-size: 16px;
    font-family: "Fraunces", serif;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    transition: box-shadow 0.2s ease; 
}

button:hover {
    box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.3); 
}


@media screen and (max-width: 567px){
    p{
        max-width: 90%;
    }
}